<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CREDITS</title>
</head>
<style>
    div {
        width: 150px;
        margin: auto;
        border: 1px;
    }
    body {
        background-color: black;
    }
    a:link, a:visited{
        background-color: chartreuse;
        color: black;
        padding: 14px 25px;
        text-align:center;
        text-decoration: none;
        display: inline-block;
    }
    a:hover, a:active{
        background-color: red;
    }
</style>
<body>
<div>
    <h1 style="color: #eeeeee" align="center">Credits</h1>
    <p style="color: #eeeeee" align="center">Mesut Apil</p>
    <p style="color: #eeeeee" align="center">Shervone Mayes</p>
    <p style="color: #eeeeee" align="center">Asa Murphy</p>
    <p style="color: #eeeeee" align="center">Adrian Lopez</p>
    <p style="color: #eeeeee" align="center">Madison Crowns</p>
    <a href="{{ url_for('index') }}" target="_blank">RETURN TO MENU</a>
</div>
</body>
</html>