<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html xmlns="">
<head>

  <title>Slither</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script> var SITE_KEY = '6LcM7PIUAAAAAP44D2ApBtrK0Tt8Taa3ljkFv4of'  </script>
  <script> var SECRET_KEY = '6LcM7PIUAAAAAETjjrwHLA01cbdUz5aZG3qzj997'  </script>
  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render=6LcM7PIUAAAAAP44D2ApBtrK0Tt8Taa3ljkFv4of"></script>

</head>


<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


{#{% extends 'base.html' %}#}
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="/login">
    <h2 class="form-signinheading">LOGIN</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.remember) }}
    <input type="text" id="g-recaptcha-response" name="g-recaptcha-response"/><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
  </form>
  <script>
    grecaptcha.ready(function () {
      grecaptcha.execute('6LcM7PIUAAAAAP44D2ApBtrK0Tt8Taa3ljkFv4of', {action: 'homepage'}).then(function (token) {
        console.log(token);
        document.getElementById('g-recaptcha-response').value = token;
      });
    });
  </script>

</div>
<div class="w3-container w3-center ">

  <p class="w3-padding w3-large">OR</p>
  <p>
    <a href="{{ url_for('register') }}" class=" btn btn-primary btn-link w3-large">Register user!</a>
  </p>


</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<h3>{{ message }}</h3>
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}

