<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAME MENU</title>
</head>
<style>
    div {
        width: 150px;
        margin: auto;
        border: 1px solid red;
    }
    body {
        background-color: black;
    }

    a:link, a:visited{
        background-color: chartreuse;
        color: black;
        padding: 14px 25px;
        text-align:center;
        text-decoration: none;
        display: inline-block;
    }
    a:hover, a:active{
        background-color: red;
    }

    img {
        display: block;
        margin-right: auto;
    }

</style>
<body>
<img src="../static/images/Slither_Logo.png" height="168" width="257"/>
<div>
    <a href="{{ url_for('index') }}" target="_blank">NEW GAME</a>
    <a href="options.html" target="_blank">OPTIONS</a>
    <a href="credits.html" target="_blank">CREDITS</a>
    <a href="{{ url_for('index') }}" target="_blank">QUIT</a>
</div>
</body>
</html>