<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        background-color: black;
    }

    a:link, a:visited{
        background-color: chartreuse;
        color: black;
        padding: 14px 25px;
        text-align:center;
        text-decoration: none;
        display: inline-block;
    }
    a:hover, a:active{
        background-color: red;
    }
</style>
<body>
<a href="index.html" target="_blank">NEW GAME</a>
</body>
</html>